# Deep Learning
tensorflow==2.12.0

# Processamento de imagens
Pillow==9.5.0
opencv-python==4.8.0.74

# Visualização
matplotlib==3.7.1

# Notebook / Ambiente
jupyter==1.0.0
notebook==6.5.4
